<?xml version="1.0" encoding="UTF-8"?>
<bookmap xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:oasis:names:tc:dita:xsd:bookmap.xsd" translate="yes" collection-type="sequence" id="$id">
  <booktitle>
    <mainbooktitle>$title</mainbooktitle>
    <booktitlealt>$content</booktitlealt>
  </booktitle>
  <frontmatter>
    <booklists>
      <toc />
    </booklists>
  </frontmatter>
  #foreach($reference in $references)
  <chapter id="${reference.id}" href="${reference.href}">
  		#if(${reference.getChilds()})
    		#set($refs = ${reference.getChilds()})
    		#parse("bookmap_line.vm")
      	#end
  </chapter>    
  #end
  
  <backmatter>
    <booklists>
      <figurelist />
      <tablelist />
    </booklists>
  </backmatter>
</bookmap>