<?xml version="1.0" encoding="UTF-8"?>
<bookmap xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:oasis:names:tc:dita:xsd:bookmap.xsd" translate="yes" collection-type="sequence" id="$id">
  <booktitle>
    <mainbooktitle>$title</mainbooktitle>
    <booktitlealt>$content</booktitlealt>
  </booktitle>
  <frontmatter>
    <booklists>
      <toc />
    </booklists>
  </frontmatter>
  #foreach($reference in $references)
  <part id="${reference.id}" href="${reference.href}">
  	#if(${reference.getChilds()})
  		#foreach($ref1 in ${reference.getChilds()})
    <chapter id="${ref1.id}" href="${ref1.href}">
    		#if(${ref1.getChilds()})
    			#foreach($ref2 in ${ref1.getChilds()})
      <topicref translate="yes" collection-type="sequence" type="topic" toc="yes" id="${ref2.id}" href="${ref2.href}" />
      			#end
      		#end
    </chapter>
    	#end
    #end
  </part>
  #end
  
  <backmatter>
    <booklists>
      <figurelist />
      <tablelist />
    </booklists>
  </backmatter>
</bookmap>