#set($refsp = $refs)
#foreach($ref in ${refsp})
	#if(${ref.getChilds()})		
		#set($refs = ${ref.getChilds()})
		<topicref translate="yes" collection-type="sequence" type="topic" toc="yes" id="${ref.id}" href="${ref.href}" >
		#parse("bookmap_line.vm")
		</topicref>
	#else    			
      <topicref translate="yes" collection-type="sequence" type="topic" toc="yes" id="${ref.id}" href="${ref.href}" />
    #end
#end
#set($refs = $refsp)