
      #foreach($element in ${childs})
       		
       		#if(${element.isElement()})
       		
            	#set($childc = $child)
            	#set($child = true)
       			#if(!${element.getRef()})
       				#if($childc)
 	<sectiondiv id="sectionElement${element.getName()}">
 		<p><u><b>${element.getComponentName()} ${element.getName()}</b></u></p>
 					#else
    <section id="sectionElement${element.getName()}">
    	<title>${element.getComponentName()} ${element.getName()}</title>
    				#end
    				#if(${element.getDoc()})
    	<p><lines>${element.getDoc()}</lines></p>
    				#end
    				#if(${element.getComponentName().equalsIgnoreCase("ComplexType")})
    						#set($complexType = $element)
       						#parse("complextype.vm")
       				#elseif(${element.getComponentName().equalsIgnoreCase("Element")})
       						#parse("element.vm")       					
       				#else
       						#set($group = $element)
       						#parse("group.vm")
       				#end
       				#if($childc)
    </sectiondiv> 
       				#else
    </section>
    				#end
    			#end
    			#set($child = $childc)
    		#else
				#set($childs = $element.getElements())
        		#parse("complexContentDetail.vm")
    		#end
      #end       		
       	