  <!-- complextype start -->
   <dl>
        <dlentry>
       		<dt>Obligatorio</dt>
            <dd>${complexType.isRequiered()}</dd>
        </dlentry>
        #if(${complexType.getMinOccurs()} > 0 || ${complexType.getMaxOccurs()})
        <dlentry>
        	<dt>Repeticiones admitidas</dt>
        	<dd> #if(${complexType.getMinOccurs()} > 0)Desde ${complexType.getMinOccurs()} #end #if(${complexType.getMaxOccurs()} )hasta ${complexType.getMaxOccurs()}#end</dd>
        </dlentry>
        #end
         #if(${complexType.getAttributes()} || ${complexType.getAttributeGroups()})
        <dlentry>
        	<dt>Atributos</dt>
        	<dd><sl>
            		#foreach($attribute in ${complexType.getAttributes()})
            			<sli><xref #if(${attribute.getRef()})href="${attribute.getHref()}" ${attribute.getExternalHref()}>${attribute.getRef().getLocalPart()}
            					   #else href="#$id/sectionAttribute${attribute.getName()}">${attribute.getName()}
            					   #end </xref></sli>
            		#end
            		#foreach($attribute in ${complexType.getAttributeGroups()})
            			<sli><xref #if(${attribute.getRef()})href="${attribute.getHref()}" ${attribute.getExternalHref()}>${attribute.getRef().getLocalPart()}
            					   #else href="#$id/sectionAttributeGroup${attribute.getName()}">${attibute.getName()}
            					   #end </xref></sli>
            		#end
            </sl></dd>
        </dlentry>
        #end 
        #if(${complexType.getElements()})
        <dlentry>
        	<dt>Elementos</dt>
        	<dd><sl>
            		#foreach($element in ${complexType.getElements()})
            			<sli><xref href="#$id/sectionElement${element.getName()}">${element.getName()}</xref></sli>
            		#end
            </sl></dd>
        </dlentry>
        #end
            	
	</dl>
    	#if(!$child)
    <section id="section_code">
    	<title>Codigo</title>            
        <codeblock>${complexType.getCode()}</codeblock>
    </section>
    	#end
    	#if(${complexType.getAttributes()})
       		#set($childc = $child)
       		#set($child = true)
       		#foreach($attribute in ${complexType.getAttributes()})
       			#if(!${attribute.getRef()})
       				#if($childc)
 	<sectiondiv id="sectionAttribute${attribute.getName()}">
 		<p><u><b>Attribute ${attribute.getName()}</b></u></p>
 					#else
    <section id="sectionAttribute${attribute.getName()}">
    	<title>Attribute ${attribute.getName()}</title>
    				#end
    				#if(${attribute.getDoc()})
    	<p><lines>${attribute.getDoc()}</lines></p>
    				#end
       				#parse("attribute.vm")
       				#if($childc)
    </sectiondiv> 
       				#else
    </section>
    				#end
    			#end
       		#end
       		#set($child = $childc)
       	#end
       	#if(${complexType.getAttributeGroups()})
       		#set($childc = $child)
       		#set($child = true)
       		#foreach($attributeGroup in ${complexType.getAttributeGroups()})
       			#if(!${attributeGroup.getRef()})
       				#if($childc)
 	<sectiondiv id="sectionAttribute${attributeGroup.getName()}">
 		<p><u><b>AttributeGroup ${attributeGroup.getName()}</b></u></p>
 					#else
    <section id="sectionAttribute${attributeGroup.getName()}">
    	<title>AttributeGroup ${attributeGroup.getName()}</title>
    				#end
    				#if(${attibuteGroup.getDoc()})
    	<p><lines>${attributeGroup.getDoc()}</lines></p>
    				#end
       				#parse("attributeGroup.vm")
       				#if($childc)
    </sectiondiv> 
       				#else
    </section>
    				#end
    			#end
       		#end
       		#set($child = $childc)
       	#end
       	#if(${complexType.getElements()})
       		#set($childc = $child)
       		#set($child = true)
       		#foreach($element in ${complexType.getElements()})
       			#if($childc)
 	<sectiondiv id="sectionElement${element.getName()}">
 		<p><u><b>Element ${element.getName()}</b></u></p>
 				#else
    <section id="sectionElement${element.getName()}">
    	<title>Element ${element.getName()}</title>
    			#end
    			#if(${element.getDoc()})
    	<p><lines>${element.getDoc()}</lines></p>
    			#end
       			#parse("element.vm")
       			#if($childc)
    </sectiondiv> 
       			#else
    </section>
    			#end
       		#end
       		#set($child = $childc)
       	#end
    <!-- complextype end -->
