   <dl>
        <dlentry>
       		<dt>Obligatorio</dt>
            <dd>${complexType.isRequiered()}</dd>
        </dlentry>
        #if(${complexType.getMinOccurs()} > 0 || ${complexType.getMaxOccurs()})
        <dlentry>
        	<dt>Repeticiones admitidas</dt>
        	<dd> #if(${complexType.getMinOccurs()} > 0)Desde ${complexType.getMinOccurs()} #end #if(${complexType.getMaxOccurs()} )hasta ${complexType.getMaxOccurs()}#end</dd>
        </dlentry>
        #end 
        #if(${complexType.getElements()})
        <dlentry>
        	<dt>Elementos</dt>
        	<dd><sl>
            		#foreach($element in ${complexType.getElements()})
            			<sli><xref href="#$id/sectionElement${element.getName()}">${element.getName()}</xref></sli>
            		#end
            </sl></dd>
        </dlentry>
        #end
            	
	</dl>
    	#if(!$child)
    <section id="section_code">
    	<title>Codigo</title>            
        <codeblock>${complexType.getCode()}</codeblock>
    </section>
    	#end
       	#if(${complexType.getElements()})
       		#set($chilp = $child)
       		#set($child = true)
       		#foreach($element in ${complexType.getElements()})
    <section id="sectionElement${element.getName()}">
    	<title>Element ${element.getName()}</title>
    			#if(${element.getDoc()})
    	<p><lines>${element.getDoc()}</lines></p>
    			#end
       			#parse("element.vm")
    </section>
       		#end
       		#set($chil = $childp)
       	#end
