<?xml version="1.0" encoding="UTF-8"?>
<concept id="test" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:oasis:names:tc:dita:xsd:concept.xsd">
    <title>test</title>
    <shortdesc></shortdesc>
    <conbody>
        <section>
            <title>Propiedades</title>
            <dl>
                <dlhead><dthd>Propiedad</dthd>
                    <ddhd>valor</ddhd>
                </dlhead>
                <dlentry>
                    <dt>Namespace</dt>
                    <dd></dd>
          
                </dlentry>
                <dlentry>
                    <dt>Requereido</dt>
                    <dd></dd>
                </dlentry>
                <dlentry>
                    <dt>Cardinalidad</dt>
                    <dd></dd>
                </dlentry>
                <dlentry>
                    <dt>Restricciones</dt>
                    <dd></dd>
                </dlentry>
            </dl>
        </section>
        <section id="section_fxj_2xd_wgb">
            <title>Diagrama</title>
            <p>
                <fig id="fig_w3y_hxd_wgb">
                    <title>diagrama figura</title>
                    <image placement="break" href="./images/nombre.svg" width="500" align="center"
                        id="image_x3y_hxd_wgb"/>
                </fig>
            </p>
        </section>
        <section id="section_nb5_3xd_wgb">
            <title>Contenido</title>
            <p>
                <table frame="all" rowsep="1" colsep="1" id="table_ufl_nxd_wgb">
                    <title/>
                    <tgroup cols="2">
                        <colspec colname="c1" colnum="1"/>
                        <colspec colname="c2" colnum="2"/>
                        <thead>
                            <row>
                                <entry>Nombre</entry>
                                <entry>tipo</entry>
                            </row>
                        </thead>
                        <tbody>
                            <row>
                                <entry/>
                                <entry/>
                            </row>
                            <row>
                                <entry/>
                                <entry/>
                            </row>
                            <row>
                                <entry/>
                                <entry/>
                            </row>
                            <row>
                                <entry/>
                                <entry/>
                            </row>
                        </tbody>
                    </tgroup>
                </table>
            </p>
        </section>
    </conbody>
</concept>
