   
   <dl>
        <dlentry>
       		<dt>Obligatorio</dt>
            <dd>${element.isRequiered()}</dd>
        </dlentry>
        #if(${element.getMinOccurs()} > 0 || ${element.getMaxOccurs()})
        <dlentry>
        	<dt>Repeticiones admitidas</dt>
        	<dd> #if(${element.getMinOccurs()} > 0)Desde ${element.getMinOccurs()} #end #if(${element.getMaxOccurs()})hasta ${element.getMaxOccurs()}#end</dd>
        </dlentry>
        #end
        #if(${element.getType()})
        <dlentry>
       		<dt>Tipo</dt>
            <dd><xref href="${element.getHrefType()}" ${element.getExternalHref()}>${element.getType().getLocalPart()}</xref></dd>
        </dlentry>
   	</dl> 
    	#elseif(${element.getSimpleType()})
 	</dl>
	
 			#if($child)
 		<sectiondiv id= "section_embebedType${element.getName()}">
 			<p><u><b>Simple Type</b></u></p>
 			#else
    	<section id= "section_embebedType">    		
    		<title>Simple Type</title>
    			#if(${element.getSimpleType().getDoc()})
    		<p><lines>${element.getSimpleType().getDoc()}</lines></p>
    			#end
    		#end
            #set($simpleType = ${element.getSimpleType()})
            #set($childs = $child)
           
            #set($child = true)
            #parse("simpleType.vm")
            #set($child =  $childs)
            
            #if($child)
        </sectiondiv>    
            #else
        </section>
        	#end
        #elseif(${element.getComplexType()})
 	</dl>
 			#if($child)
 		<sectiondiv id= "section_embebedType${element.getName()}">
 			<p><u><b>Complex Type</b></u></p>
 			#else
    	<section id= "section_embebedType">    		
    		<title>Complex Type</title>
    			#if(${element.getComplexType().getDoc()})
    		<p><lines>${element.getComplexType().getDoc()}</lines></p>
    			#end
    		#end
    		#set($childp = $child)
            #set($child = true)
           
            #set($complexType = ${element.getComplexType()})
            #parse("complextype.vm")
            
            #set($child =  $childp)
            #if($child)
        </sectiondiv>    
            #else
        </section>
        	#end
        #end
        
 	 #if(!$child)
        <section id="section_diagram">
            <title>Diagrama</title>            
        		<fig id="${id}Diagram">
            		<title>Diagrama para ${title}</title>
           			<image placement="break" href="${element.getDiagram()}" align="center" id="${id}Image" scalefit="yes"/>
        		</fig>
        </section>  
     #end  
        #if(!$child)
        <section id="section_code">
            <title>Codigo</title>            
        	<codeblock>${element.getCode()}</codeblock>
        </section>  
        #end

    