   <dl>
   		<dlentry>
       		<dt>Namespace</dt>
            <dd>${element.getNameSpace()}</dd>
        </dlentry> 
       
        <dlentry>
       		<dt>Obligatorio</dt>
            <dd>${element.isRequiered()}</dd>
        </dlentry>
        #if(${element.getMinOccurs()} > 0 || ${element.getMaxOccurs()})
        <dlentry>
        	<dt>Repeticiones admitidas</dt>
        	<dd> #if(${element.getMinOccurs()} > 0)Desde ${element.getMinOccurs()} #end #if(${element.getMaxOccurs()})hasta ${element.getMaxOccurs()}#end</dd>
        </dlentry>
        #end 
    	<dlentry>
       		<dt>#if(${element.getType()})Tipo#elseif(${element.getSimpleType()})Tipo Embebidos#end</dt>
            <dd>#if(${element.getType()})${element.getType()}
            	#elseif(${element.getSimpleType()})
            		#set($simpleType = ${element.getSimpleType()})
            		#parse("simpleType.vm")
            	#end
            </dd>
        </dlentry>
        <dlentry>
       		<dt>Codigo</dt>
            <dd><codeblock>${element.getCode()}</codeblock></dd>
        </dlentry>
        
    </dl>