<?xml version="1.0" encoding="UTF-8"?>
<reference id="endpoints" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:oasis:names:tc:dita:xsd:reference.xsd">
    <title>${title}</title>
    <shortdesc>Operaciones del WSDL</shortdesc>
    <refbody>
        <table frame="all" rowsoperation="1" colsoperation="1" id="table_lkt_j12_wgb">
            <tgroup cols="3">
                <colspec colname="c1" colnum="1" colwidth="1*"/>
                <colspec colname="c2" colnum="2" colwidth="2*"/>
                 <colspec colname="c3" colnum="3" colwidth="2*"/>
                
                <tbody>
                #foreach( ${operation} in ${operations} )
                	<row>
                        <entry namest="c1" nameend="c3">
                        <b>${operation.getQName().getLocalPart()}</b>
                        #if( !${operation.getDocumentation()})
                        <p> ${operation.getDocumentation().getContent()} </p>
                        #end
                        </entry>
                    </row>
                    <row>
                        <entry><b>Input</b></entry>
                        <entry>${operation.getInput().getElementName()}</entry>
                        <entry>${operation.getInput().getElement().getQName().getLocalPart()}</entry>
                    </row>
                    <row>
                        <entry><b>Output</b></entry>
                        <entry>${operation.getOutput().getName()}</entry>
                        <entry>${operation.getOutput().getElement().getQName().getLocalPart()}</entry>
                    </row>
                    #set ($fs = ${operation.getFaults().size()})
                    #set ($uno = true)
                    #foreach( ${fault} in ${operation.getFaults()} )
                	<row>
                		#if($uno)
                        <entry #if($fs > 1) morerows="$fs"#end ><b>Faults</b></entry>
                        #set ($uno = false)
                        #end
                        <entry>${fault.getName()}</entry>
                        <entry>${fault.getElement().getQName().getLocalPart()}</entry>
                    </row>
                   #end
               #end
                  
                </tbody>
            </tgroup>
        </table>
    </refbody>
</reference>
