<?xml version="1.0" encoding="UTF-8"?>
<reference id="endpoints" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:oasis:names:tc:dita:xsd:reference.xsd">
    <title>${title}</title>
    <shortdesc>Operaciones del WSDL</shortdesc>
    <refbody>
    #foreach( ${operation} in ${operations} )
        <table frame="all" id="table_${id}_${operation.getQName().getLocalPart().toLowerCase()}">
        <title>${operation.getQName().getLocalPart()}</title>
         #if( ${operation.getDocumentation()})
        <desc>${operation.getDocumentation().getContent()}</desc> 
         #end
            <tgroup cols="3">
                <colspec colname="c1" colnum="1" colwidth="1*"/>
                <colspec colname="c2" colnum="2" colwidth="1*"/>
                <colspec colname="c3" colnum="3" colwidth="1*"/>
                <thead>
                    <row>
                        <entry>Tipo</entry>
                        <entry>Nombre</entry>
                        <entry>Elemento</entry>
                    </row>
                </thead>
                <tbody>
                    #set ($fp = ${operation.getInput().getParts().size()} - 1)
                    #set ($uno = true)
                    #foreach( ${part} in ${operation.getInput().getParts()} )
                    	#if( ${part.getDocumentation()})
                    		#set($fp = $fp +1)
                    	#end
                    #end
                    #foreach( ${part} in ${operation.getInput().getParts()} )
                    <row>
                        #if($uno)
                        <entry #if($fp > 0) morerows="${fp}"#end><b>Input</b></entry>
                        	#set ($uno = false)
                        #end
                        <entry>${part.getPartQName().getLocalPart()}</entry>
                        <entry>${part.getElement().getQName().getLocalPart()}</entry>                        
                    </row>
                    #if(${part.getDocumentation()})  
                    <row>                                     
                    	<entry namest="c2" nameend="c3">
                         ${part.getDocumentation().getContent()}                    
                        </entry>
                        
                    </row>
                    #end
                    #end
                    #set ($fp = ${operation.getOutput().getParts().size()} - 1)
                    #set ($uno = true)
                    #foreach( ${part} in ${operation.getOutput().getParts()} )
                    	#if( ${part.getDocumentation()})
                    		#set($fp = $fp +1)
                    	#end
                    #end
                    #foreach( ${part} in ${operation.getOutput().getParts()} )
                    <row>
                        #if($uno)
                        <entry #if($fp > 0) morerows="${fp}"#end><b>Output</b></entry>
                        	#set ($uno = false)
                        #end
                         <entry>${part.getPartQName().getLocalPart()}</entry>
                        <entry>${part.getElement().getQName().getLocalPart()}</entry>                    	 
                    </row>
                     #if(${part.getDocumentation()})  
                    <row>                                     
                    	<entry namest="c2" nameend="c3">
                         ${part.getDocumentation().getContent()}                    
                        </entry>
                        
                    </row>
                    #end
                    #end
                    #set ($fs = ${operation.getFaults().size()} - 1)
                    #set ($uno = true)
                    #foreach( ${fault} in ${operation.getFaults()} )
                     	#set ($fs = $fs + (${fault.getParts().size()} - 1))
                    #end
                    #foreach( ${part} in ${fault.getParts()} )
                    	#if( ${part.getDocumentation()})
                    		#set($fp = $fp +1)
                    	#end
                    #end
                    #foreach( ${fault} in ${operation.getFaults()} )
                      	#foreach( ${part} in ${fault.getParts()} )
                	<row>
                			#if($uno)
                        <entry #if($fs > 0) morerows="${fs}"#end ><b>Faults</b></entry>
                        		#set ($uno = false)
                        	#end
                         <entry>${part.getPartQName().getLocalPart()}</entry>
                        <entry>${part.getElement().getQName().getLocalPart()}</entry>
                    </row>
                    	 #if(${part.getDocumentation()})  
                    <row>                                     
                    	<entry namest="c2" nameend="c3">
                         ${part.getDocumentation().getContent()}                    
                        </entry>
                        
                    </row>
                    #end
                    #end
                  	#end
                  	</tbody>
            </tgroup>
        </table>
    #end                  
                
    </refbody>
</reference>
