<?xml version="1.0" encoding="UTF-8"?>
<reference id="${id}" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:oasis:names:tc:dita:xsd:reference.xsd">
    <title>${title}</title>
    <shortdesc>ports del servicio</shortdesc>
    <refbody>
        
#foreach( ${port} in ${ports} )
        <section>
            <title>${port.getName()}</title>           
            <ul>
                <li><b>Endpoint:</b> ${port.getAddress().getLocation()}</li>
                <li><b>Binding:</b> ${port.getBinding().getName()} 
	#if(${port.getBinding().getOperations().size()} > 0)
                <p>
                    <b>Binding Operations:</b>
                    <ol>
		#foreach($op in ${port.getBinding().getOperations()})
                    	<li><xref href="${tools.getHref($op)}">${op.getName()}</xref></li>
        #end
                    </ol>
                 </p>       				
	#end
                 </li> 
    #if(${port.getDocumentation()}) 
                 <li><b>Description: </b><lines> ${port.getDocumentation().getContent()}</lines>
                 </li>
    #end              
            </ul>    
        </section>                	
#end
    </refbody>
</reference>
