<?xml version="1.0" encoding="UTF-8"?>
<topic id="${id}" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:oasis:names:tc:dita:xsd:topic.xsd">
    <title>${title}</title>
    <shortdesc>${content}</shortdesc>
    <body>
    	#set($child = false)
    	#if(${simpleType})
    		#parse("simpleType.vm")
    	<section id="section_code">
            <title>Codigo</title>            
        	<codeblock>${simpleType.getCode()}</codeblock>
        </section>
    	#end
    	#if(${complexType})
    		#parse("complexType.vm")
    	
    	#end
    	#if(${element})
    		#parse("element.vm")
    	#end
    	#if(${attribute})
    		#parse("attribute.vm")
    	#end
    	#if(${attributeGroup})
    		#parse("attributeGroup.vm")
    	#end
    </body>
</topic>