 	<section>
 	<title>Atributos</title>
 			<sl>
            		#foreach($attribute in ${attributeGroup.getAttributes()})
            			<sli><xref href="${attribute.getHref()}" ${attribute.getExternalHref()}>#if(${attribute.getRef()})${attribute.getRef().getLocalPart()}#else${attribute.getName()}#end</xref></sli>
            		#end
            </sl>
 	</section>
 	<section id="section_diagram">
            <title>Diagrama</title>            
        		<fig id="${id}Diagram">
            		<title>Diagrama para ${title}</title>
           			<image placement="break" href="${attributeGroup.getDiagram()}" align="center" id="${id}Image" #if(${attributeGroup.isScaleDiagram()})scalefit="yes"#end/>
        		</fig>
    </section>  
    <section id="section_code">
           <title>Codigo</title>            
        	<codeblock>${attributeGroup.getCode()}</codeblock>
    </section> 