   <dl>
   	#if(${attribute.getUsage()})
        <dlentry>
       		<dt>Usage</dt>
            <dd>${attribute.getUsage()}</dd>
        </dlentry>
    #end
    #if(${attribute.getFixedValue()})
        <dlentry>
        	<dt>Fixed Value</dt>
        	<dd>${attribute.getFixedValue()}</dd>
        </dlentry>
    #elseif(${attribute.getDefaultValue()})
    	<dlentry>
        	<dt>Default Value</dt>
        	<dd>${attribute.getDefaultValue()}</dd>
        </dlentry>
    #end
    #if(${attribute.getForm()})
        <dlentry>
       		<dt>Form qualification</dt>
            <dd>${attribute.getForm()}</dd>
        </dlentry>
    #end
    #if(${attribute.getType()})
        <dlentry>
       		<dt>Tipo</dt>
            <dd><xref href="${attribute.getHrefType()}" ${attribute.getExternalHref()}>${attribute.getType().getLocalPart()}</xref></dd>
        </dlentry>
    #end
    </dl>  
        <section id="section_diagram">
            <title>Diagrama</title>            
        		<fig id="${id}Diagram">
            		<title>Diagrama para ${title}</title>
           			<image placement="break" href="${attribute.getDiagram()}" align="center" id="${id}Image" #if(${attribute.isScaleDiagram()})scalefit="yes"#end/>
        		</fig>
        </section>     
        <section id="section_code">
            <title>Codigo</title>            
        	<codeblock>${attribute.getCode()}</codeblock>
        </section>      
    