#foreach($element in $childs)
	#if(${element.isElement()})
		#if($i > $j)
			#set($j = $i)
					<sl>
		#end
            			<sli><xref #if(${element.getRef()})href="${element.getHrefType()}" ${element.getExternalHref()}>${element.getComponentName()} ${element.getRef().getLocalPart()}
            					   #else href="#$id/sectionElement${element.getName()}">${element.getComponentName()} ${element.getName()}
            					   #end </xref></sli>
		
            				   
    #else
    					
            				#if($i > 0)
        #if($j == $i)
					</sl>
					<!-- Cierre pre $j == $i -->	
					#set($j = $i - 1)
		#end	
            <dl>
            				
            				#end
            			<dlentry>
        	<dt>Contenido ${element.getContentType()}</dt>
        					#set($i = $i + 1)        					
        	<dd>        						
        					#if(${element.getElements()})
            					#set($childs = $element.getElements())
            					#parse("complexContentRefs.vm")
            		
            				#end
            				#set($i = $i - 1)
            				
     	#if($j > $i)
					</sl>
					
					
					<!-- Cierre ok $j == $i -->		
					
		#end
		#set($j = $i - 1)	
            </dd>
        </dlentry>
        					#if($i > 0)
        </dl>	
        					#end
            			#end
            		#end