
   <dl>
   		#if(${complexType.getSuper()})
   		<dlentry>
       		<dt>Extended</dt>
            <dd><sl>
            		<sli><xref href="${tools.getHref(${complexType.getSuper()})}" ${tools.getExternalHref(${complexType.getSuper()})} >${complexType.getSuper().getLocalPart()} </xref></sli>
            		
            </sl></dd>
        </dlentry>
   		#end 
        <dlentry>
       		<dt>Obligatorio</dt>
            <dd>${complexType.isRequiered()}</dd>
        </dlentry>
        #if(${complexType.getMinOccurs()} > 0 || ${complexType.getMaxOccurs()})
        <dlentry>
        	<dt>Repeticiones admitidas</dt>
        	<dd> #if(${complexType.getMinOccurs()} > 0)Desde ${complexType.getMinOccurs()} #end #if(${complexType.getMaxOccurs()} )hasta ${complexType.getMaxOccurs()}#end</dd>
        </dlentry>
        #end
         #if(${complexType.getAttributes()} || ${complexType.getAttributeGroups()})
        <dlentry>
        	<dt>Atributos</dt>
        	<dd><sl>
            		#foreach($attribute in ${complexType.getAttributes()})
            			<sli><xref #if(${attribute.getRef()})href="${attribute.getHref()}" ${attribute.getExternalHref()}>${attribute.getRef().getLocalPart()}
            					   #else href="${attribute.getHref()}">${attribute.getName()}
            					   #end </xref></sli>
            		#end
            		#foreach($attribute in ${complexType.getAttributeGroups()})
            			<sli><xref #if(${attribute.getRef()})href="${attribute.getHref()}" ${attribute.getExternalHref()}>${attribute.getRef().getLocalPart()}
            					   #else href="${attribute.getHref()}">${attibute.getName()}
            					   #end </xref></sli>
            		#end
            </sl></dd>
        </dlentry>
        #end 
        #if(${complexType.getElements()})
        	#set($i = 0)
        	#set($j = 0)
        	#set($childs = ${complexType.getElements()})
        	#parse("complexContentRefs.vm")
        #end
	</dl>
        <section id="section_diagram">
            <title>Diagrama</title>            
        		<fig id="${id}Diagram">
            		<title>Diagrama para ${title}</title>
           			<image placement="break" href="${complexType.getDiagram()}" align="center" id="${id}Image" #if(${complexType.isScaleDiagram()})scalefit="yes"#end/>
        		</fig>
        </section>
    <section id="section_code">
    	<title>Codigo</title>            
        <codeblock>${complexType.getCode()}</codeblock>
    </section>