   
   <dl>
        <dlentry>
       		<dt>Obligatorio</dt>
            <dd>${element.isRequiered()}</dd>
        </dlentry>
        #if(${element.getMinOccurs()} > 0 || ${element.getMaxOccurs()})
        <dlentry>
        	<dt>Repeticiones admitidas</dt>
        	<dd> #if(${element.getMinOccurs()} > 0)Desde ${element.getMinOccurs()} #end #if(${element.getMaxOccurs()})hasta ${element.getMaxOccurs()}#end</dd>
        </dlentry>
        #end
        #if(${element.getType()})
        <dlentry>
       		<dt>Tipo</dt>
            <dd><xref href="${element.getHrefType()}" ${element.getExternalHref()}>${element.getType().getLocalPart()}</xref></dd>
        </dlentry>  
        #end
   	</dl> 
        <section id="section_diagram">
            <title>Diagrama</title>            
        		<fig id="${id}Diagram">
            		<title>Diagrama para ${title}</title>
           			<image placement="break" href="${element.getDiagram()}" align="center" id="${id}Image" #if(${element.isScaleDiagram()})scalefit="yes"#end/>
        		</fig>
        </section> 
        <section id="section_code">
            <title>Codigo</title>            
        	<codeblock>${element.getCode()}</codeblock>
        </section>  