
   <dl>
   		
        <dlentry>
       		<dt>Obligatorio</dt>
            <dd>${group.isRequiered()}</dd>
        </dlentry>
        #if(${group.getMinOccurs()} > 0 || ${group.getMaxOccurs()})
        <dlentry>
        	<dt>Repeticiones admitidas</dt>
        	<dd> #if(${group.getMinOccurs()} > 0)Desde ${group.getMinOccurs()} #end #if(${group.getMaxOccurs()} )hasta ${group.getMaxOccurs()}#end</dd>
        </dlentry>
        #end
        
          #if(${group.getElements()})
        	#set($j = 0)
        	#set($i = 0)
        	#set($childs = ${group.getElements()})
        	#parse("complexContentRefs.vm")
        #end	
	</dl>
        <section id="section_diagram">
            <title>Diagrama</title>            
        		<fig id="${id}Diagram">
            		<title>Diagrama para ${title}</title>
           			<image placement="break" href="${group.getDiagram()}" align="center" id="${id}Image" #if(${group.isScaleDiagram()})scalefit="yes"#end/>
        		</fig>
        </section>
    <section id="section_code">
    	<title>Codigo</title>            
        <codeblock>${group.getCode()}</codeblock>
    </section>