#if(${method.isRequest()})   
   <section id="section_request">
   <title>${text.getString("wadl.resource.method.request")}</title>
   <p>${method.getRequestDoc()}</p>
   #if(!${method.getRequestParams().isEmpty()})
      <table frame="none" rowsep="0" colsep="0" id="table_bm2_jhb_chb">
            <title>${text.getString("wadl.resource.parms")}</title>
            <tgroup cols="2" align="left">
                <colspec colname="c1" colnum="1" colwidth="1*"/>
                <colspec colname="c2" colnum="2" colwidth="3*"/>
                <thead>
                    <row>
                        <entry>Name</entry>
                        <entry>Description</entry>
                    </row>
                </thead>
                <tbody>
		#foreach($param in ${method.getRequestParams()})
                    <row>
                        <entry><ul>
                           		<li>${param.getName()}#if(${param.isRequired()})<sup>${text.getString("wadl.resource.parms.required")}</sup>#end</li>
            					<li>#if(${param.isRepeting()})${text.getString("wadl.resource.parms.array",${param.getType().getLocalPart()})}#else${param.getType().getLocalPart()}#end</li>
            					<li>(${param.getStyle()})</li>
                        </ul></entry>
                        <entry>
                            <lines>${param.getDoc()}</lines>
            		#if(!${param.getOptions().isEmpty()})
            				<p><i>${text.getString("wadl.resource.parms.values", ${param.getOptions()})}</i></p>
            		#end
            		#if(!${param.getDefault().isEmpty()})
            				<p><i>${text.getString("wadl.resource.parms.default", ${param.getDefault()})}</i></p>
            		#end 
            		#if(!${param.getFixed().isEmpty()})
            				<p><i>${text.getString("wadl.resource.parms.fixed", ${param.getFixed()})}</i></p>
            		#end                           
                       </entry>
                    </row>
                    <row rowsep="1">
                        <entry namest="c1" nameend="c2" />
                    </row>
		#end
                </tbody>
            </tgroup>
        </table>
    #end
   </section>  
#end
#if(${method.isResponse()})   
   <section id="section_response">
   <title>${text.getString("wadl.resource.method.response")}</title>
   <p>${method.getResponseDoc()}</p>
   #if(!${method.getResponseParams().isEmpty()})
      <table frame="none" rowsep="0" colsep="0" id="table_bm2_jhb_chb">
            <title>${text.getString("wadl.resource.parms")}</title>
            <tgroup cols="2" align="left">
                <colspec colname="c1" colnum="1" colwidth="1*"/>
                <colspec colname="c2" colnum="2" colwidth="3*"/>
                <thead>
                    <row>
                        <entry>Name</entry>
                        <entry>Description</entry>
                    </row>
                </thead>
                <tbody>
		#foreach($param in ${method.getResponseParams()})
                    <row>
                        <entry><ul>
                           		<li>${param.getName()}#if(${param.isRequired()})<sup>${text.getString("wadl.resource.parms.required")}</sup>#end</li>
            					<li>#if(${param.isRepeting()})${text.getString("wadl.resource.parms.array",${param.getType().getLocalPart()})}#else${param.getType().getLocalPart()}#end</li>
            					<li>(${param.getStyle()})</li>
                        </ul></entry>
                        <entry>
                            <lines>${param.getDoc()}</lines>
            		#if(!${param.getOptions().isEmpty()})
            				<p><i>${text.getString("wadl.resource.parms.values", ${param.getOptions()})}</i></p>
            		#end
            		#if(!${param.getDefault().isEmpty()})
            				<p><i>${text.getString("wadl.resource.parms.default", ${param.getDefault()})}</i></p>
            		#end 
            		#if(!${param.getFixed().isEmpty()})
            				<p><i>${text.getString("wadl.resource.parms.fixed", ${param.getFixed()})}</i></p>
            		#end                           
                       </entry>
                    </row>
                    <row rowsep="1">
                        <entry namest="c1" nameend="c2" />
                    </row>
		#end
                </tbody>
            </tgroup>
        </table>
    #end
   </section>  
#end
    