<?xml version="1.0" encoding="UTF-8"?>
<reference id="$id" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:oasis:names:tc:dita:xsd:reference.xsd">
    <title>${title}</title>
    <shortdesc>${content}</shortdesc>
    <refbody>
        <table frame="all" id="table_${id}_${operation.getName().toLowerCase()}">
       
            <tgroup cols="3">
                <colspec colname="c1" colnum="1" colwidth="1*"/>
                <colspec colname="c2" colnum="2" colwidth="1*"/>
                <colspec colname="c3" colnum="3" colwidth="1*"/>
                <thead>
                    <row>
                        <entry>Tipo</entry>
                        <entry>Part</entry>
                        <entry>Element</entry>
                    </row>
                </thead>
                <tbody>
                    #set ($fp = ${operation.getInput().getMessage().getParts().size()} - 1)
                    #set ($uno = true)
                    #set ($tipo = "Input")
                    #if(${operation.getInput().getName()})
                    	#set($tipo = ${operation.getInput().getName()})
                    #end
                     #foreach( ${part} in ${operation.getInput().getMessage().getParts()} )
                    <row valign="middle">
                        <entry><b>$tipo</b></entry>
                        <entry>${part.getName()}</entry>   
                        <entry><xref href="${tools.getHref(${part.getElement()})}">${part.getElement().getName()}</xref></entry>
                    </row>
                    #end
                    #set ($fp = ${operation.getOutput().getMessage().getParts().size()} - 1)
                    #set ($uno = true)
                    #set ($tipo = "Output")
                    #if(${operation.getOutput().getName()})
                    	#set($tipo = ${operation.getOutput().getName()})
                    #end
                    #foreach( ${part} in ${operation.getOutput().getMessage().getParts()} )
                    <row valign="middle">
                        <entry><b>$tipo</b></entry>
                        <entry>${part.getName()}</entry>   
                        <entry><xref href="${tools.getHref(${part.getElement()})}">${part.getElement().getName()}</xref></entry>
                    </row>
                    #end
                    #set($fs = 0)
 	                #foreach( ${fault} in ${operation.getFaults()} )
                    	#set ($tipo = "Fault " + $fs)
                    	#set ($fs = $fs + 1)
                    	#if(${fault.getName()})
                    		#set($tipo = ${fault.getName()})
                    	#end
                    	#foreach( ${part} in ${fault.getMessage().getParts()} )
                	<row valign="middle">
                        <entry><b>$tipo</b></entry>
                        <entry>${part.getName()}</entry>   
                        <entry><xref href="${tools.getHref(${part.getElement()})}">${part.getElement().getName()}</xref></entry>
                    </row>
                    	#end
                  	#end
                  	</tbody>
            </tgroup>
        </table>
    </refbody>
</reference>
