#if(${simpleType.getRestriction()})
	#parse('restriction.vm')
#end
#if(${simpleType.isList()})
	<dl>
    	<dlentry>
       		<dt>List of values</dt>
            <dd>${simpleType.getListType()}</dd>
        </dlentry>
    </dl>
#end
#if(${simpleType.isUnion()})
	<dl>
    	<dlentry>
       		<dt>Union</dt>
            <dd>
            	<ul>
            	#foreach($st in ${simpleType.getUnionRefs()})
            		<li><xref href="${tools.getHref($st)}" ${tools.getExternalHref($st)}>${$st.getLocalPart()}</xref></li>
            	#end
            	</ul>
            </dd>
        </dlentry>
    </dl>
#end 
        <section id="section_diagram">
            <title>Diagrama</title>            
        		<fig id="${id}Diagram">
            		<title>Diagrama para ${title}</title>
           			<image placement="break" href="${simpleType.getDiagram()}" align="center" id="${id}Image" #if(${simpleType.isScaleDiagram()})scalefit="yes"#end/>
        		</fig>
        </section> 
        <section id="section_code">
            <title>Codigo</title>            
        	<codeblock>${simpleType.getCode()}</codeblock>
        </section> 
        