<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE topic PUBLIC "-//OASIS//DTD DITA Topic//EN" "topic.dtd">
<topic id="${id}">
    <title>${title}</title>
    <shortdesc>${content}</shortdesc>
    <body>
    	#if(${simpleType})
    		#parse("simpleType.vm")
    	
    	#end
    	#if(${complexType})
    		#parse("complextype.vm")
    	
    	#end
    	#if(${element})
    		#parse("element.vm")
    	#end
    	#if(${attribute})
    		#parse("attribute.vm")
    	#end
    	#if(${attributeGroup})
    		#parse("attributeGroup.vm")
    	#end
    	#if(${group})
    		#parse("group.vm")
    	#end
    	#if(${method})
    		#parse("method.vm")
    	#end
    </body>
</topic>